* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif
}

/* entire page */
.page-container {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

/* page header */
header {
    width: 100%;
    background-image: linear-gradient(to right, rgb(28, 93, 168), rgb(29, 35, 71));
}

h1 {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

/* page content */
main {
    display: flex;
}

/* search column/left side of page */
.search-col {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex: 1 25%;
}

/* search flexbox */
.search-box {
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px black solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
}

textarea {
    background-color: transparent;
    resize: none;
    border-radius: 3px;
    margin: 10px 0;
    height: 40%;
}

.search-box .btn {
    background-color: rgba(33, 130, 241, 0.8);
    color: white;
    height: 40%;
}

/* history flexbox */
.search-history {
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    background-color: grey;
    border-radius: 3px;
    margin-bottom: 10px;
}
/* end of search column */

/* result column/right side of page */
.result-col {
    display: flex;
    flex-direction: column;
    flex: 4 75%;
    margin: 10px;
}

/* today's weather */
.today-box {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    height: 40%;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

/* future weather */
 .future-box {
    display: flex;
    flex-direction: column;
    height: 60%;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

.future-cards {
    display: flex;
    justify-content: space-around;
}

h5 {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.forecast-card {
   display: flex;
   flex-direction: column;
}

.forecast-card p {
    color: white;
}
/* end of result column */
