* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif
}

.page-container {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

header {
    width: 100%;
    background-image: linear-gradient(to right, rgb(28, 93, 168), rgb(29, 35, 71));
}

h1 {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

main {
    display: flex;
    /* border: 1px black solid; */
}

.search-col {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex: 1 25%;
}

.search-box {
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px black solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
}

textarea {
    background-color: transparent;
    resize: none;
    border-radius: 3px;
    margin: 10px 0;
    height: 40%;
}

.search-btn {
    background-color: rgba(33, 130, 241, 0.8);
    border: none;
    border-radius: 3px;
    color: white;
    height: 40%;
}

.search-history {
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    background-color: grey;
    border-radius: 3px;
    margin-bottom: 10px;
}

.result-col {
    display: flex;
    flex-direction: column;
    flex: 4 75%;
    border: 1px black solid;
    margin: 10px;
}

#weather-today {
    border: 1px black solid;
    height: 40%;
}


#five-day-box {
    border: 1px black solid;
    height: 60%;
}